name: main

on:
  push:
    branches:
      - master
    paths:
      - 'src/*'
      - 'tests/*'
      - 'composer.json'
      - '.github/*'
  schedule:
    - cron:  '21 10 */10 * *'
jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name : apt install
        shell : bash
        run : |
          sudo apt install imagemagick
      - name : composer install
        shell: bash
        run : |
          php -v
          composer install  -q --no-ansi --no-interaction --no-progress
      - name : phpunit
        shell: bash
        run : |
          vendor/bin/phpunit
      - name : log
        shell: bash
        run : |
          date -I > last-tested.txt
      - name: push updated lists
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: update tested date.
  run-composer-install:
    runs-on: ubuntu-latest
    steps:
      - name:  installation
        shell: bash
        run: |
          php -v
          composer require takuya/php-proc_open-wrapper
          cat <<'EOS' > sample.php
          <?php
          require_once 'vendor/autoload.php';
          use Takuya\ProcOpen\ProcOpen;
          
          $p = new ProcOpen( ['php','-v'] );
          $p->start();
          $p->wait();
          
          echo $output = stream_get_contents($p->getFd(1));
          EOS
          cat sample.php
          php sample.php
